.header {
    background-color: #1154d1; 
    padding: 5px 10px; 
    color: black;
    text-align: center; 
    font-size: 90px; 
    font-weight: bold;
    position: fixed; 
    top: 0;
    width: 100%;
    left: 100px;
}